<div class="top-container">
  <div class="top-wrapper">
    <div class="main-visual">
      <div class="main-visual-left">
        <div class="main-visual-logo">
          <%= image_tag 'logo.png', class:"image-logo" %>
        </div>
        <div class="main-visual-title-wrapper">
          <div class="main-visual-title">
            <h1>LoveGuitars..</h1>
          </div>
          <div class="main-visual-subtitle">
            <p>動画,楽譜,書籍...<br>練習メニューを一つに</p>
          </div>
        </div>
      </div>
      <div class="main-visual-right">
        <div class="main-visual-contents">
          <div class="visual-right-text">
            <p>今までの練習内容<br>覚えていますか？</p>
          </div>
          <div class="visual-right-img">
            <%= image_tag 'main-visual.png',class:"visual-img" %>
          </div>
          <div class="visual-sign">
            <div class="visual-sign_up">
              <%= link_to "さっそく使ってみる", new_user_registration_path, class:"mainvisual-sign_up-btn" %>
            </div>
            <div class="visual-sign_in ">
              <p>ログインの方は<br></p><%= link_to "こちら" ,new_user_session_path,class:"gene-btn-hover" %>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>

<h1>今練習しているサイトを管理するアプリです。</h1>
<div class="sign_up">
  <%= link_to "新規登録",new_user_registration_path %>
  <%= link_to "ログイン",new_user_session_path %>
</div>