    <div class="practice-container">
      <div class="practice-title">
        <div class="user-image">
            <%= link_to practice.user.name, root_path, class:"user-image-content"%>
        </div>
      </div>

      <%= link_to  practice_path(practice.id),class:"practice-title-link gene-btn" do%>
     <div class="practice-index-menu">
            <div class="practice-title-contents">
                <%= practice.title %>
            </div>
            <div class="practice-memo">
                <%= practice.body %>
            </div>
            <div class="practice-textbook">
                参考教材：
                <% if practice.textbook == "other" %>
                  <%= practice.other_text %>
                <% else %>
                  <%= practice.textbook_i18n %>
                <% end %>
            </div>
            <div class="practice-more">
              <p>もっと見る</p>
            </div>
      <% end %>
            
      </div>
   </div> 
            



