<table>
    <tbody>
      
        <div class="practice-menu">
            <tr>
              <th>タイトル</th>
              <td><%= @practice.title %></td>
            </tr>
            <tr>
              <th>使用教材</th>
              <td>
              <%= @practice.textbook_i18n %></a>
              </td>
            </tr>
            <tr>
              <th>参考URL</th>
              <td> 
              <a href= <%= @practice.reference_url %>><%= @practice.reference_url %></a>
              
              </td>
              
            </tr>
            <tr>
              <th>練習メモ</th>
              <td><%= @practice.body %></td>
            </tr>
            <tr>
              <th>練習状況</th>
              <td>
                <% if @practice.is_finish == false %>
                  <p>練習中</p>
                <% else %>
                  <p>練習完了！</p>
                <% end %>
              </td>
            </tr>
            <tr>
              <th>公開設定</th>
              <td>
                <% if @practice.is_public == false %>
                  <p>プライベート</p>
                <% else %>
                  <p>公開中</p>
                <% end %>
              </td>
            </tr>
        </div>
    </tbody>
  </table>  
  <%= link_to "編集する", edit_practice_path(@practice) %>
  <%= link_to "削除する", practice_path(@practice),method: :delete  %>

