<table>
    <tbody>
      
        <div class="practice-menu">
            <tr>
              <th>使用教材</th>
              <td>
              <%= @practice.textbook_i18n %></a>
              </td>
            </tr>
            <tr>
              <th>参考URL</th>
              <td> 
              <% if @practice.reference_url.present? %> <!-- URLが投稿されていた場合 -->
                <a href="<%= @practice.reference_url %>" target="_blank" rel="noopener noreferrer"class="gene-btn">練習する！</a>
              <% else %>
                リンクが投稿されていません
              <% end %>
              </td>
            </tr>
            <tr>
              <th>練習内容</th>
              <td><%= @practice.title %></td>
            </tr>
            <tr>
              <th>練習詳細</th>
              <td><%= @practice.reference_title %></td>
            </tr>
            <tr>
              <th>練習メモ</th>
              <td><%= @practice.body %></td>
            </tr>
            <tr>
              <th>練習状況</th>
              <td>
                <% if @practice.is_finish == false %>
                  練習中
                <% else %>
                  練習完了！
                <% end %>
              </td>
            </tr>
            <tr>
              <th>公開設定</th>
              <td>
                <% if @practice.is_public == false %>
                  プライベート
                <% else %>
                  公開中
                <% end %>
              </td>
            </tr>
        </div>
    </tbody>
  </table>  
  <%= link_to "編集する", edit_practice_path(@practice) %>
  <%= link_to "削除する", practice_path(@practice),method: :delete  %>

