<div class="container">
  <div class="row practice-detail-container">

   <!-- youtubeリンクが存在していた場合表示 -->
    <% if @practice.textbook == "youtube" && @practice.youtube_url.present? %>
    <div class="col-lg-8 col-xl-8">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @practice.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <% end %>

    <div class="<%="col-lg-" + @ratio.to_s %> <%="col-xl-" + @ratio.to_s %>"> <!--youtubeの動画が存在していたら専用のレイアウトに変更 -->
        <table>
            <tbody>
                <div class="practice-menu">
                    <tr>
                      <th>使用教材</th>
                      <td>
                      <%= @practice.textbook_i18n %></a>
                      </td>
                    </tr>
                    <tr>
                      <th>参考URL</th>
                      <td> 
                      <% if @practice.reference_url.present? %> <!-- URLが投稿されていた場合 -->
                        <a href="<%= @practice.reference_url %>" target="_blank" rel="noopener noreferrer"class="gene-btn">練習する！</a>
                      <% else %>
                        リンクが投稿されていません
                      <% end %>
                      </td>
                    </tr>
                    <tr>
                      <th>練習内容</th>
                      <td><%= @practice.title %></td>
                    </tr>
                    <tr>
                      <th>練習詳細</th>
                      <td><%= @practice.details %></td>
                    </tr>
                    <tr>
                      <th>練習メモ</th>
                      <td><%= @practice.body %></td>
                    </tr>
                    <tr>
                      <th>練習状況</th>
                      <td>
                        <% if @practice.is_finish == false %>
                          練習中
                        <% else %>
                          練習完了！
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <th>公開設定</th>
                      <td>
                        <% if @practice.is_public == false %>
                          プライベート
                        <% else %>
                          公開中
                        <% end %>
                      </td>
                    </tr>
                </div>
            </tbody>
          </table>  
          <%= link_to "編集する", edit_practice_path(@practice) %>
          <%= link_to "削除する", practice_path(@practice),method: :delete  %>
    </div>
  </div>
</div>

