<!DOCTYPE html>
<html>
  <head>
    <title>LoveGuitars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <%= link_to root_path do %>
        <h1 class = "header-logo">ロゴ</h1>
      <% end %>
      <% if user_signed_in? %>
        <ul class = "header-container">
          <li class="header-list">
            <%= link_to "練習記録", user_path(current_user) %>
          </li>
          <li class="header-list">
            <%= link_to "みんなの練習を見る", practices_path %>
          </li>
          <li class="header-list">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      <% else %>
        <ul class = "header-container">
          <li class="header-list">
            <%= link_to "新規登録",new_user_registration_path %>
          </li>
          <li class="header-list">
            <%= link_to "ログイン", new_user_session_path %>
          </li>
        </ul>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
