<!DOCTYPE html>
<html>
  <head>
    <title>PRACT|練習メニューをこれひとつに。</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <header class="shadow-md header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">

         <div class="header-btn">
         <%= link_to root_path, class:"header-btn gene-btn-hover" do %><h3 class = "header-btn  header-logo nav-link font-color"><%= image_tag 'PRACT-rogo.png', class:"pract-logo" %></h3><% end %>
         </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class = "navbar-nav ml-auto">
            <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "マイページ", user_mypage_path,class:"header-btn  gene-btn-hover header-link font-color" %>
                </li>
                <li class="nav-item">
                  <%= link_to "練習メニューを見る", practices_path,class:"header-btn gene-btn-hover header-link font-color" %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規作成", new_practice_path,class:"header-btn gene-btn-hover header-link font-color" %>
                </li>

                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:"header-btn gene-btn-hover header-link font-color" %>
                </li>
            <% else %>
                <li class="nav-item">
                  <%= link_to "新規登録 ",new_user_registration_path ,class:"header-btn gene-btn-hover font-color header-link"%>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path,class:" header-btn gene-btn-hover  font-color header-link" %>
                </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="main">
      <%= yield %>
    </main>
    <footer class="footer">
      <p class="copyright">Copyright © k_uki All Rights Reserved.</p>
      <div class="contact">
        <p class="contact-title">お問い合わせはこちら</p>
        <p class="contact-text">pract_operation@gmail.com</p>
        <p class="contact-title">メインビジュアル画像帰属</p>
        <a href='https://jp.freepik.com/vectors/music'>Pch.vector - jp.freepik.com によって作成された music ベクトル</a>
      </div>
    </footer>
  </body>
</html>
